attribute hal_mms_server;
binder_call({appdomain -isolated_app}, hal_mms_server)
binder_call(hal_mms_server, {appdomain -isolated_app})

type mtk_hal_mms_hwservice, hwservice_manager_type;
allow { appdomain -isolated_app }  mtk_hal_mms_hwservice:hwservice_manager find; 
